**/bin/
**/obj/
.idea/
*.sln.iml
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.nupkg
*.snupkg
.nuget/
packages/
*.nuget.dgspec.json
TestResults/
*.trx
*.coverage
*.coveragexml
*.log
*.dotCover
_ReSharper*/
*.[Rr]e[Ss]harper
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*~
.env
YAMIOS/obj/project.assets.json
YAMIOS/obj/project.nuget.cache
YAMIOS/obj/project.packagespec.json
YAMIOS/obj/rider.project.model.nuget.info
YAMIOS/obj/rider.project.restore.info
YAMIOS/obj/YAMIOS.csproj.nuget.dgspec.json
YAMIOS/obj/YAMIOS.csproj.nuget.g.props
YAMIOS/obj/Debug/net9.0/YAMIOS.AssemblyInfo.cs
YAMIOS/obj/Debug/net9.0/YAMIOS.AssemblyInfolnputs.cache
YAMIOS/obj/Debug/net9.0/YAMIOS.assets.cache
YAMIOS/obj/Debug/net9.0/YAMIOS.csproj.AssemblyReference.cache
YAMIOS/obj/Debug/net9.0/YAMIOS.csproj.AssemblyReference.cache itorconfig
YAMIOS/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache